<nav class="navbar navbar-expand-lg navbar-light bg-secundary">
    <div class="container-fluid">
      <!-- Logo o Título -->
      <a class="navbar-brand" href="#">{{title}}</a>     
  
      <!-- Botón de menú en pantallas pequeñas -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Elementos de navegación -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
<!--           <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/directivas">Directivas</a>
          </li> -->
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/clientes">Clientes</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/cliente/form">Crear</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
