<ul class="alert alert-danger" *ngIf="errores.length > 0">
    <li *ngFor="let err of errores">
        {{ err }}
    </li>
</ul>


<!-- Card de formulario -->
<div class="card border-0 shadow-sm mb-4" style="max-width: 800px; margin: auto; border-radius: 12px;">
    <div class="card-header" style="background-color: #f8f9fa; border-bottom: 1px solid #e1e1e1; padding: 20px;">
        <h4 class="m-0" style="font-weight: bold; color: #333;">{{ titulo }}</h4>
    </div>
    <div class="card-body" style="padding: 20px;">

        <!-- Formulario -->
        <form #clienteForm="ngForm">
            <!-- Nombre -->
            <div class="form-group row mb-3">
                <label for="nombre" class="col-form-label col-sm-3"
                    style="font-weight: 500; color: #555;">Nombre</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" #nombre="ngModel"
                        style="border-radius: 8px; padding: 10px;" placeholder="Ingresa el nombre">
                </div>
            </div>

            <!-- Apellido -->
            <div class="form-group row mb-3">
                <label for="apellido" class="col-form-label col-sm-3"
                    style="font-weight: 500; color: #555;">Apellido</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido"
                        #apellido="ngModel" style="border-radius: 8px; padding: 10px;"
                        placeholder="Ingresa el apellido">
                </div>
            </div>

            <!-- Email -->
            <div class="form-group row mb-3">
                <label for="email" class="col-form-label col-sm-3" style="font-weight: 500; color: #555;">Email</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" #email="ngModel"
                        style="border-radius: 8px; padding: 10px;" placeholder="Ingresa el correo electrónico">
                </div>
            </div>

            <!-- Región -->
            <div class="form-group row mb-3">
                <label for="region" class="col-form-label col-sm-3"
                    style="font-weight: 500; color: #555;">Región</label>
                <div class="col-sm-9">
                    <select [compareWith]="compararRegion" class="form-control" [(ngModel)]="cliente.region"
                        name="region" style="border-radius: 8px; padding: 10px; background-color: #f8f9fa;">
                        <option [ngValue]="undefined">--- seleccionar una región ---</option>
                        <option *ngFor="let region of regiones" [ngValue]="region">{{ region.nombre }}</option>
                    </select>
                </div>
            </div>

            <!-- Carga de Archivos -->
<!--             <div class="form-group row mb-3">
                <label for="archivo" class="col-form-label col-sm-3">Archivo</label>
                <div class="col-sm-9">
                    <input type="file" class="form-control" (change)="onFileSelected($event)"
                        style="border-radius: 8px; padding: 10px;">
                </div>
            </div> -->

            <!-- Botón Crear -->
            <div class="form-group row mb-0">
                <div class="col-sm-9 offset-sm-3">
                    <button class="btn btn-primary" role="button" (click)="guardarCliente()"
                        [disabled]="!clienteForm.form.valid"
                        style="border-radius: 8px; padding: 12px 20px; font-weight: 500;">
                        {{tituloBoton}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>